.App {
    text-align: center;
    margin: 40px;
}

.warning {
    width: fit-content;
    padding: 5px;
    margin: 20px auto 0;
    color: white;
    background-color: red;
}

.warning.hidden {
    display: none;
}
